/*
 *
 * MMM-Netatmo-Thermostat
 *
 * 
 * MIT Licensed.
 *
 * Custom here your css module
 *
 */

.MMM-Netatmo-Thermostat .blue {
  background:radial-gradient(#50afff, #408ccc);
}

.MMM-Netatmo-Thermostat .orange {
  background:radial-gradient(#ffa050, #cc8040);
}

.MMM-Netatmo-Thermostat .red {
  background:radial-gradient(#ff6a50, #cc5440);
}

.MMM-Netatmo-Thermostat .green {
  background:radial-gradient(#93bc44, #759636);
}

.MMM-Netatmo-Thermostat .purple {
  background:radial-gradient(#b76fb7, #925892);
}

.MMM-Netatmo-Thermostat .yellow {
  background:radial-gradient(#e3d43c, #b5a930);
}

.MMM-Netatmo-Thermostat .grey {
  background:radial-gradient(#999999, #7a7a7a);
}

.MMM-Netatmo-Thermostat .off,
.MMM-Netatmo-Thermostat .heating,
.MMM-Netatmo-Thermostat .cooling {
  width: 120px;
  height: 120px;
  border-radius: 70px;
  font-size: 45px;
  line-height: 120px;
  border: none;
  color: #FFF;
  text-align: center;
}
